01-column-comma.txt
01-column-list.txt
02-predicates-to-replace.txt
mapping-before-material-uri.yml
mapping-older.yml
nano-aop-paper-sheet.csv
nano-aop-paper-sheet-comma.csv
nano-aop-paper-sheet-comma-rowid.csv